/* Global */
body {
    margin-bottom: 100px;
  }
 
  .form-control {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #121212;
    border-radius: 0px;
  }

  .card {
    border-radius: 20px;
  }

  .card-body {
    font-size: 14px;
  }

  .form-control {
    font-size: 13px;
  }

  .btn {
    border-radius: 20px;
    font-size: 13px;

  }
  .icon {
    letter-spacing: 10px;
    font-size: 30px;
  }

  .fab {
    cursor: pointer;
  }


/* Desktop Mode */
@media (min-width: 768px) {

    .card {
        margin: 0 auto;
        width: 50%;
    }

    .btn {
        font-size: ;
    }



}